/* 针对Webkit浏览器（如Chrome, Safari） */
::-webkit-scrollbar {
  width: 12px; /* 滚动条宽度 */
}

::-webkit-scrollbar-track {
  background: #b4c7ef; /* 滚动条轨道背景 */
  border-radius: 10px; /* 圆角 */
}

::-webkit-scrollbar-thumb {
  background: #b4c7ef; /* 滚动条滑块背景 */
  border-radius: 10px; /* 圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background: #b4c7ef; /* 滚动条滑块悬停背景 */
}

/* 针对Firefox */
* {
  scrollbar-width: thin; /* 滚动条宽度 */
  scrollbar-color: #888 #f1f1f1; /* 滚动条滑块和轨道颜色 */
}
